<a href="https://colab.research.google.com/github/YasmineSarraj/MLOPS-assignments/blob/main/Creation_of_tinyDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/content/Hotel_Reviews.csv")

In [4]:
len(df.Hotel_Address.unique())

141

In [5]:
! pip install tinydb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tinydb
  Downloading tinydb-4.7.1-py3-none-any.whl (24 kB)
Installing collected packages: tinydb
Successfully installed tinydb-4.7.1

In [8]:
from tinydb import TinyDB, Query

In [9]:
db = TinyDB("new_db.json")

In [11]:
students = db.table("students")

In [13]:
students.insert({"name": "Peter"})

1

In [15]:
students.all()

[{'name': 'Peter'}]

In [16]:
hotel_reviews_db = TinyDB("hotel_reviews_db.json")

In [17]:
reviews = hotel_reviews_db.table("reviews")

In [20]:
for _, row in df.iterrows():
    reviews.insert(row.to_dict())

KeyboardInterrupt: ignored

In [21]:
len(reviews.all())

12558

In [39]:
new_db = TinyDB("hotel_reviews_db.json")

In [41]:
revs = new_db.table("reviews")

In [43]:
names = []

for x in revs:
  name = x.get("Hotel_Name")
  if name not in names:
    names.append(name)

names

['Hotel Arena',
 'K K Hotel George',
 'Apex Temple Court Hotel',
 'The Park Grand London Paddington',
 'Monhotel Lounge SPA',
 'Kube Hotel Ice Bar',
 'The Principal London',
 'Park Plaza County Hall London',
 'One Aldwych',
 'Splendid Etoile',
 'Hotel Trianon Rive Gauche',
 'InterContinental London Park Lane',
 'Novotel Suites Paris Nord 18 me',
 'Grand Royale London Hyde Park',
 'Milestone Hotel Kensington',
 'Crowne Plaza London Kings Cross',
 'Select Hotel']