In [3]:
#Import relevant libraries
import pandas as pd
import polars as pl 
import matplotlib as plt

Our chosen dataset is the bank marketing dataset we used in our first EDA assignment

In [6]:
df_raw_data = pd.read_csv('bank_marketing.csv', sep=';')
df_raw_data.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [8]:
df_raw_data = spark.read.csv('bank_marketing.csv')
df_raw_data.head(5)

TypeError: read_csv() got an unexpected keyword argument 'separator'

Basics EDA: Shape, data types and missing values

Filter data to only relevant observations (drop.na + groupby)

Aggregate the data to obtain summary statistics and metrics
 For example, you can calculate the mean, median, or mode of certain variables to gain a better understanding of the data.

Join it with another dataset using a common key

Visualize the data using either Apache Sparkâ€™s built-in plotting library or any other visualization tools of your choice. You can plot a histogram, scatter plot, line plot, or any other types of charts that are relevant to your dataset. This will help you to identify trends and patterns in the data and gain insights into the underlying relationships between different variables.